h1{
	font-family:Times New Roman, Arial;
	font-size:40px;
	color:#0deff2;
	text-shadow:#000 -1px -1px 1px;
}
th {
	border-color:blue;
	background-color: #dbf8fb;
}

a {
	font-family:Times New Roman, Arial;
	color: blue;
	text-decoration: none;
	font-size:20px;
	
}
